<header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about/' | relative_url }}">About</a></li>
      <li><a href="{{ '/contact/' | relative_url }}">Contact</a></li>
      <li><a href="{{ '/livestreams/' | relative_url }}">Livestreams</a></li>
      <li><a href="{{ '/sermons/' | relative_url }}">Sermons</a></li>
      <li><a href="{{ '/calendar/' | relative_url }}">Calendar</a></li>
      <li><a href="{{ '/beliefs/' | relative_url }}">Beliefs</a></li>
    </ul>
  </nav>
</header>
