<header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '_pages/about.html/' | relative_url }}">About</a></li>
      <li><a href="{{ '_pages/media.html/' | relative_url }}">Media</a></li>
      <li><a href="{{ '_pages/sermons.html/' | relative_url }}">Sermons</a></li>
      <li><a href="{{ '_pages/livestreams.html/' | relative_url }}">Livestreams</a></li>
      <li><a href="{{ '_pages/contact.html/' | relative_url }}">Contact</a></li>
      <li><a href="{{ '_pages/new.html/' | relative_url }}">I’m New</a></li>
    </ul>
  </nav>
</header>
