<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logo.png" alt="Logo" width="40" height="40" class="me-2">
      Cedar Grove Christian
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/about.html">About</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/beliefs.html">Beliefs</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/calendar.html">Calendar</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/livestreams.html">Livestream</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/archivedSermons.html">Sermons</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/pages/contact.html">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
